$heading: "Inter Tight", serif;
$main-color: #3d67ff;


.navbar {
    background-color: black;
    font-family: "Inter Tight", sans-serif;
    font-weight: 700; 
    .nav-items {
        font-weight: 500; 
        display: flex; // Ensure the collapse area is also a flex container
        justify-content: center; // Center the nav items
        width: 100%; // Make sure it takes full width
    }
    .nav-link {
        color: white; 
        &:hover {
            color: $main-color;
        }
    }
    .navbar-brand {
        color: white; 
        &:hover {
            color: $main-color;
        }
    }
    .btn{
        background-color: white;
        &:hover {
            color: $main-color;
        }
    }
}

.container-fluid{
    background-color: black;
    font-family: $heading;
    
    .gradient {
      background: linear-gradient(to right, #605dff, $main-color); /* Change to your desired gradient */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

.container-fluid{
    .container-xl .row .col-md .card{
        background-color: rgba(128, 128, 128, 0.5);

        .card-title{
            color:white;
        }

        .card-text{
            color:white;
        }
    }

    .container-xl .display-5{
        color: white; 
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    position: relative;
}
  
.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@import"../node_modules/bootstrap/scss/bootstrap.scss";