$heading: "Inter Tight", serif;
$main-color: #3d67ff;


.navbar {
    background-color: black;
    font-family: "Inter Tight", sans-serif;
    font-weight: 700; 
    .nav-items {
        font-weight: 500; 
        display: flex; // Ensure the collapse area is also a flex container
        justify-content: center; // Center the nav items
        width: 100%; // Make sure it takes full width
    }
    .nav-link {
        color: white; 
        &:hover {
            color: $main-color;
        }
    }
    .navbar-brand {
        color: white; 
        &:hover {
            color: $main-color;
        }
    }
    .btn{
        background-color: white;
        &:hover {
            color: $main-color;
        }
    }
}

.container-fluid{
    background-color: black;
    font-family: $heading;

    .top{
        padding-top: 100px;
    }
    
    .gradient {
      background: linear-gradient(to right, #605dff, $main-color); /* Change to your desired gradient */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}

.container-fluid{
    .container-xl .row .col-md .card{
        background-color: rgba(128, 128, 128, 0.5);

        .card-title{
            color:white;
        }

        .card-text{
            color:white;
        }
    }

    .container-xl .display-5{
        color: white; 
    }
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    overflow: hidden;
    background-color: black;
    position: relative;
}
  
.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.learn{
    padding:100px;
    
}

.single {
    background: linear-gradient(to bottom, black, #3217e6); 
    // This creates a gradient from black at the top to purple at the bottom
  
    .block {
      // This class will center the content within the container
      background: linear-gradient(to bottom, black, #3217e6); 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; // This ensures the content takes up the full height of the viewport
  
      .row {
        // This class will center the row within the learn container
  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; // This ensures the row takes up the full width of the container
  
        .col-md-6 {
          // This class will center the content within the column
  
          display: flex;
          flex-direction: column;
          align-items: center;
  
          p {
            // This class will center the paragraph text
  
            text-align: center;
          }
  
          h1 {
            // This class will center the heading text
  
            text-align: center;
          }
        }
      }
    }
  }

@import"../node_modules/bootstrap/scss/bootstrap.scss";