
.navbar {
    background-color: black;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500; 
    .nav-items {
        font-weight: 300; 
        display: flex; // Ensure the collapse area is also a flex container
        justify-content: center; // Center the nav items
        width: 100%; // Make sure it takes full width
    }
    .nav-link {
        color: white; 
        &:hover {
            color: gray;
        }
    }
    .navbar-brand {
        color: white; 
        &:hover {
            color: gray;
        }
    }
    .btn-primary{
        background-color: black;
    }
}

@import"../node_modules/bootstrap/scss/bootstrap.scss";